/*FONT-FAMILY*/
@font-face{
    font-family:font1;
   src:url('font-family/Montserrat-Light.ttf');
}

@font-face{
    font-family:font2;
    src:url('font-family/Montserrat-Regular.ttf');  
}
@font-face{
    font-family:font3;
    src:url('font-family/Montserrat-LightItalic.ttf');  
}

body{
	font-family:font2;
}
.navbar{
	background: transparent;
	border:0px solid transparent;
}
.navbar ul li a{
	color:white !important;
	font-family: font1;
}
/*Banner Section*/
#banner button {
    background: transparent;
    border: 2px solid transparent;
    border-radius: 0px;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.section-banner{
    background:url(images/Banner.png) center center no-repeat;
    background-size: cover;
    color:black;
    text-align: center;
}
.section-banner .overlay{
    background: rgba(0,0,0,0.3)  repeat;
    width:100%;
    height:100%;
}
.banner-text img{
	width:60%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.banner-text h2{
	color:white;
	letter-spacing: 0.5px;
	line-height: 42px;
}
.banner-text p{
	color:white !important;
	letter-spacing: 1.0px;
	font-size: 22px;
	font-family: font3;
}

/**********PAGE TWO ****************/

#page-two img{
	margin-left: auto;
	margin-right: auto;
	display: block;
	width:20%;
}
#page-two h4{
	line-height: 28px;
	color: black;
	text-align: center;
	font-weight: 700;
}
.page-two-box{
	background: whitesmoke;
	padding:20px 10px 20px 10px;
}
.page-two-main-box{
	background: gray;
	color:white;
	padding:10px 15px 10px 15px;
}
.page-two-main-box p{
	text-align: justify;
	font-family: font1;
	letter-spacing: 0.7px;
	line-height: 25px;
}

#page-two button{
	background: transparent;
	font-size: 18px;
	color:black;
	border:2px solid black;
	border-radius: 0px;
}

/*****************************PAGE THREE********************************/
#page-three img{
	margin-left: auto;
	margin-right: auto;
	display: block;
}
#page-three h4{
	color:gray;
	letter-spacing: 1.2px;
}
#page-three p{
	color:black;
	text-align: center;
	line-height: 22px;
	letter-spacing: 0.8px;
}
.page-four-heading{
	color:white;
	line-height: 26px;
	letter-spacing: 0.5px;
	background:gray;
	padding-top: 40px;
}
.page-four-heading p{
	font-size: 16px;
	letter-spacing: 1.5px;
}

#contact h3{
	color:white;
	background: gray;
	padding-top:20px;
}
#contact h4{
	color:gray;
	font-size: 20px;
	letter-spacing: 0.7px;
}
#contact p{
	font-size: 17px;
	font-family: font1;
	line-height: 27px;
}
#footer{
	background: whitesmoke;
	padding:40px;
}
#footer ul{
	list-style: none;
	
}
#footer ul li{
	padding-top:09px;
	margin-left: -25px;
	color:gray;
}
#page-one-window-display{
	padding-left:10px;
	padding-right: 10px;
}
#page-one-window-display h2{
	background: #3d3a44;
	color:white;
	padding:20px;
	text-align: center;
}
#page-one-window-display .box-window-display{
	background: whitesmoke;
	padding:20px;
}
#page-one-window-display .box-window-display h3{
	color:#3d3a44;
	text-align: center;
	font-size: 32px;
	font-weight: 300;
}
#page-one-window-display .box-window-display h4{
	color:#3d3a44;
	font-family: font1;
	border-bottom: 1px solid #3d3a44;
	text-align: center;
	padding:10px 0px 10px 0px;
}
#page-one-window-display .box-window-display p{
	text-align: center;
	line-height: 28px;
}
/*Mobile-Responsive*/
@media screen and (min-width: 992px){
	.section-banner{
		height: 600px;
	}
	#page-two{
	margin-top: -90px;
}
	.image-9, .image-10, .image-32, .image-16{
		margin-top: -200px;
	}
	.image-12{
		margin-top: -280px;
	}
	
}





