/*FONT-FAMILY*/
@font-face{
    font-family:font1;
   src:url('font-family/Montserrat-Light.ttf');
}

@font-face{
    font-family:font2;
    src:url('font-family/Montserrat-Regular.ttf');  
}
@font-face{
    font-family:font3;
    src:url('font-family/Montserrat-LightItalic.ttf');  
}

body{
	font-family:font2;
}
.navbar{
	background: transparent;
	border:0px solid transparent;
}
.navbar ul li a{
	color:white !important;
	font-family: font1;
}
/*Banner Section*/
#banner button{
	background: darksalmon;
	border: 2px solid darksalmon;
	border-radius: 0px;
	
}

.section-banner{
    background:url(images/banner-offer.png) center center no-repeat;
    background-size: cover;
    color:black;
    text-align: center;
	height: 100%;
}
.section-banner .overlay{
    background: rgba(0,0,0,0.7)  repeat;
    width:100%;
    height:100%;
}

.banner-text h2{
	color:white;
	letter-spacing: 0.5px;
	line-height: 52px;
	font-family: font3;
}
.banner-text p{
	color:white !important;
	letter-spacing: 1.0px;
	font-size: 22px;
	font-family: font3;
}

#page-two .box{
	background: #3d3a44;
	padding:20px;
}

#page-two .box h3{
	color:white;
	font-size: 28px;
}
#page-two .box h6{
	font-size: 15px;
	color:lightgray;
	font-family: font1;
}
#page-two h5{
	font-size: 20px;
	color:#3d3a44;
	line-height: 28px;
}
#page-two h4{
	font-family: font1;
	line-height: 26px;
}



